@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Amatic SC', sans-serif;
  font-weight: 300;
}

body {
  overflow: hidden;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #431302;
}

section:before {
  content: '';
  position: absolute;
  width: 30vw;
  height: 30vw;
  border: 5vw solid #ff4500;
  border-radius: 50%;
  box-shadow: 0 0 0 1vw #010101,
              0 0 0 1.3vw #eee;
}

