@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

body {
  overflow: hidden;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #160600;
}

section:before {
  content: '';
  position: absolute;
  width: 30vw;
  height: 30vw;
  border: 5vw solid #ff4500;
  border-radius: 50%;
  box-shadow: 0 0 0 1vw #010101,
              0 0 0 1.3vw #eee;
}

h2 {
  position: absolute;
  font-size: 8vw;
  font-weight: 500;
  color: #d5ba1c;
  text-align: center;
  line-height: 2em;
  z-index: 5;
  transform: skew(-14deg);
  text-shadow: 1px 1px #000,
               2px 2px #ff4500,
               3px 3px #000,
               4px 4px #ff4500,
               5px 5px #000,
               6px 6px #ff4500,
               15px 15px 10px rgba(0, 0, 0, 0.8);
  animation: floating 5s ease-in-out infinite;
}

h2 span {
  font-weight: 700;
  font-size: 3em;
  text-shadow: 1px 1px #000,
               2px 2px #ff4500,
               3px 3px #000,
               4px 4px #ff4500,
               5px 5px #000,
               6px 6px #ff4500,
               7px 7px #000,
               8px 8px #ff4500,
               9px 9px #000,
               10px 10px #ff4500,
               30px 30px 30px rgba(0, 0, 0, 0.8);
}

@keyframes floating {
  0%, 100% {
    transform: skew(-14deg) translateY(-20px);
  }
  50% {
    transform: skew(-14deg) translateY(20px);
  }
}

section i {
  position: absolute;
  background: #ffd700;
  border-radius: 50%;
  box-shadow: 0 0 10px #ffd700,
              0 0 20px #ffd700,
              0 0 40px #ffd700,
              0 0 80px #ffd700,
}
